extend jade.resources/layout/master
block content	
	.container
		.aside
		.main			
			.featured
				img(src='assets/img/home-main-banner.jpg')
				h1 New Products
				a(href='#' class='button-border') Learn more
			.row 	
				.home-box
					a(href='#')
						img(src='assets/img/home-box.jpg')
						span Coming Soon
				.home-box
					a(href='#')
						img(src='assets/img/home-box.jpg')
						span Coming Soon
				.home-box
					a(href='#')
						img(src='assets/img/home-box.jpg')
						span Coming Soon				

					

		