extend jade.resources/layout/master
block content	
	.container
		.page-header
			h1.title.my-account-header My Account
		.aside.aside-inner
			h2.block-header Options
			ul.aside-nav
				li 
					a(href='#') My Orders
				li 
					a(href='#') My Details	
		.main			
			h2.block-header Latest Orders
			.orders 
				table.grid-order-header 
					colgroup
						col.date
						col.order
						col.total						
						col.reorder						
						col.print		
					thead 
						tr 
							td Date
								.sort
									i(class='fa fa-caret-down')
									i(class='fa fa-caret-up')
							td Order# 
								.sort								
									i(class='fa fa-caret-down')
									i(class='fa fa-caret-up')
							td Total#
								.sort
									i(class='fa fa-caret-down')
									i(class='fa fa-caret-up')
							td 
							td
				table.grid-order-body
					colgroup
						col.date
						col.order
						col.total						
						col.reorder						
						col.print
					tbody 
						tr 
							td.date 03/04/2015
							td.order 343242342
							td.total $10,100				
							td.reorder
								a(href='#') Reorder
							td.print 
								a(href='#')	Print
						tr 
							td.date 03/04/2015
							td.order 343242342
							td.total $10,100				
							td.reorder
								a(href='#') Reorder
							td.print
								a(href='#')	Print
						tr
							td.date 03/04/2015
							td.order 343242342
							td.total $10,100				
							td.reorder
								a(href='#') Reorder
							td.print
								a(href='#')	Print
						tr 
							td.date 03/04/2015
							td.order 343242342
							td.total $10,100				
							td.reorder 
								a(href='#') Reorder
							td.print 
								a(href='#')	Print						
				
								
			