extend jade.resources/layout/master
block content	
	.container
		.page-header
			h1.title Raw Beef and Lamb Shawarma
		.aside.aside-product-info
			img(src='assets/img/product.png')
		.main.main-product-info
			.product-details
				h2 Product Details
				p 
					span.product-title Item Number
					span.product-value #273
				p
					span.product-title Pack Size
					span.product-value 23 lb
				p
					span.product-title Net Weight
					span.product-value 20lbs
				p
					span.product-title Selft Life
					span.product-value 180 Days Frozen
				p
					span.product-title Kosher
					span.product-value No
				p
					span.product-title Food Based Statement
					span.product-value N/A	
			.product-ingredients
				h2 Ingredients
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit euismod orci quis tempus. Vestibulum in convallis nisi, vitae pellentesque mauris. Nulla elit nisl, congue id turpis in, feugiat sagittis odio. Suspendisse potenti. Cras mollis sapien vel velit rhoncus rhoncus. In vitae volutpat tellus, et ultrices nibh. Nulla accumsan ex eget dictum consequat. Sed vehicula quam metus, a luctus purus pellentesque non. Maecenas hendrerit felis eu libero aliquet, commodo facilisis urna ornare.
			a(href='#' class='product-specification') Full Product Specification Sheet


								
			