.button-border
	padding: 0.4em 2em
	border: 2px solid #fff 
	+border-radius(0.6em)
	background-color: transparent
	font-size: 1.4em
	color: #fff
	font-weight: 800
	text-transform: uppercase
	&:hover
		color: $primary
		border-color: $primary
.btn-blue
	background-color: $secondary
	color: #fff
	display: block
	+border-radius(6px)
	padding: 0.4em 2em
	outline: none
	border: none
	line-height: 1.4
	&:hover 
		color: #fff
		background-color: $primary
.view-cart 
	@extend .btn-blue		
	float: right
	&:before
		font-family: "FontAwesome"
		content: "\f07a"
		margin-right: 0.5em
.place-order
	@extend .view-cart
	&:before
		content: ""
		margin: 0
	@media (max-width: $screen-sm-min - 1)
		padding: 0.5em
		margin: 0 
		// margin-right: 0.5em
		width: 30%
	@media (max-width: 331px)	
		width: auto
.reset-order
	@extend .btn-blue
	float: right
	background-color: #ddd	
	margin-right: $spacing
	@media (max-width: $screen-sm-min - 1)
		padding: 0.5em
		margin: 0
		margin-right: 0.5em
		width: 25%
	@media (max-width: 331px)		
		width: auto
.continue-shopping
	@extend .btn-blue
	background-color: #75D6C5
	display: inline-block
	margin-right: $spacing
	float: right
	&:hover 
		background-color: $primary	
	@media (max-width: $screen-sm-min - 1)
		padding: 0.5em
		margin: 0
		margin-right: 0.5em
		width: 40%
	@media (max-width: 331px)		
		width: auto
.mobile-go-checkout
	width: 100%
	display: block
	background-color: $secondary
	color: #fff
	text-align: center
	line-height: 2.5em
	margin-top: 0.5em		
	&:hover 
		background-color: $primary
		color: #fff
