.button-border
	padding: 0.4em 2em
	border: 2px solid #fff 
	+border-radius(0.6em)
	background-color: transparent
	font-size: 1.4em
	color: #fff
	font-weight: 800
	text-transform: uppercase
	&:hover
		color: $primary
		border-color: $primary
.btn-blue
	background-color: $secondary
	color: #fff
	display: block
	+border-radius(6px)
	padding: 0.4em 2em
	outline: none
	border: none
	line-height: 1.4
	&:hover 
		color: #fff
		background-color: $primary
.view-cart 
	@extend .btn-blue		
	float: right
	&:before
		font-family: "FontAwesome"
		content: "\f07a"
		margin-right: 0.5em
.place-order
	@extend .view-cart
	&:before
		content: ""
		margin: 0
.reset-order
	@extend .btn-blue
	float: right
	background-color: #ddd	
	margin-right: $spacing
.continue-shopping
	@extend .btn-blue
	background-color: #75D6C5
	display: inline-block
	margin-right: $spacing
	float: right
	&:hover 
		background-color: $primary	
