.my-cart-header
	&:before
		content: "\f07a"
.cart-heading
	margin-bottom: 0px	
.cart-list 
	+clearfix	
	colgroup
		+clearfix
		.item 
			width: 100px
		.description
			width: auto
		.pack
			width: 100px		
		.unit-price
			width: 100px		
		.case-ordered
			width: 150px
		.total-lbs	
			width: 100px										
		.total-price
			width: 100px	
	.cart-content
		margin-top: 0px
		.case-ordered 
			text-align: right
			padding-right: 10px
			@media (max-width: $screen-sm-min - 1)
				text-align: center
				padding: 0
			input 			
				margin-right: 5px
				@media (max-width: $screen-sm-min - 1)
					margin-right: 0
				max-width: 40px
				padding: 0.5em
				@media (min-width: $screen-sm-min)
					max-width: 70px
					padding: 0.5em 1em
			.fa 
				display: inline-block
				cursor: pointer
				&:hover
					color: $primary	
		.price 
			.fa 
				margin-left: 10px
				font-size: 1.2em
				color: desaturate(red, 20%)
				cursor: pointer
				+transition(all 0.2s ease-in)
				position: absolute
				top: 50%
				right: 0.2em
				margin-top: -0.8em
				@media (max-width: 767px)
					right: 0
				&:hover 
					color: red
					+transform-origin(50% 50%)
					+transform(scale(1.3))
		tr 
			padding: 1em 0
			height: 5em
			border-bottom: 1px solid #ddd
			vertical-align: middle
			table 
				margin-bottom: $spacing
			@media (max-width: $screen-sm-min - 1)
				border: none
				height: auto
				
			&:nth-child(even) 
				border-bottom: none			
	.description 
		padding-right: $spacing	
		text-align: left
		position: relative
		a 
			position: absolute
			right: $spacing
			top: $spacing	
			.fa 
				position: relative
				color: red
			
	.item 
		text-align: left	
	.cart-summary
		+clearfix
		width: 50%
		float: right
		// margin-top: $spacing*2
		@media (max-width: $screen-sm-min - 1)
			float: none
			width: 100%
		margin-bottom: $spacing	
		border-bottom: 1px solid $border-gray
		padding-bottom: $spacing*2
		text-align: left
		.cart-totals
			+clearfix
			width: 100%
			@media (min-width: $screen-sm-min)
				width: 350px
				float: right
				margin-top: $spacing*2
				// width: 310px
				table-layout: fixed
				tr 
					td:nth-child(2),td:nth-child(3)
						text-align: center
			p 
				margin-top: $spacing
			table 			
				font-weight: 700
				width: 50%
				@media (min-width: $screen-sm-min)
					width: auto		
				tr 
					height: 2.5em
					background-color: $light-gray	
					&:last-child
						background-color: $light-gray	
					@media (min-width: $screen-sm-min)
						background-color: #fff		
					@media (max-width: $screen-sm-min - 1)						
						color: #fff
						border: none
						&:first-child 
							border-top: 1px solid #ddd
							background-color: $secondary
						&:last-child
							border-bottom: 1px solid #ddd	
							background-color: darken($secondary,10)	
				td 
					text-align: left		
					&:first-child 
						padding-left: 5px	
			@media (max-width: $screen-sm-min - 1)
				tr:nth-child(1) td:nth-child(3), tr:nth-child(2) td:nth-child(2)
					display: none
				tr:nth-child(1) td:nth-child(2), tr:nth-child(2) td:nth-child(3)
					text-align: right
.order-block 
	@extend .sort-block
	line-height: 35px					
	vertical-align: bottom 	
	font-size: initial	
	border-bottom: 1px solid #ddd
	padding-bottom: 0.7em
	margin-bottom: 0.5em
	a 
		text-align: center
	@media (min-width: $screen-sm-min)
		margin-bottom: $spacing
		border: none
		padding: 0
	input 
		@media (max-width: $screen-sm-min - 1)
			margin-bottom: 0px
	p 
		display: inline-block
		float: left
		margin-bottom: $spacing	
		font-size: 0.8em
		margin-bottom: 0px
		span 
			font-weight: 600
.mobile-order-block	
	+clearfix
	@media (max-width: $screen-sm-min - 1)
		font-size: 0.75em
		margin-bottom: 1em
	// ul 
	// 	+justify-nav
	// 	a 
	// 		width: 100%
	// 		display: block
	// 	button 
	// 		width: 100% 
	// 		display: block	
.order-summary-block
	+clearfix
	line-height: 35px		
	vertical-align: bottom
	border-bottom: 1px solid $border-gray
	font-size: initial
	h2 
		float: left
		display: inline-block
	&:last-child
		border: none
		margin-bottom: $spacing*3	
.order-summary-block-content
	padding-top: $spacing
	font-size: 0.8em
	margin-bottom: $spacing*3	
	p 
		span 
			font-weight: 600
	@media (max-width: $screen-sm-min - 1)
		margin-bottom: 0
		p 
			margin-bottom: 0		
.cart-header 
	font-weight: 800
	font-size: 22px
	color: $dark-gray		
	padding-bottom: $spacing
	@media (max-width: $screen-sm-min - 1)
		color: $secondary
.receipt-list
	+clearfix
	clear: both
	.cart-content
		.case-ordered
			padding-right: 50px	
.po-number
	display: inline-block
	width: 100px
	padding: 0.3em 1em
	margin-left: 1em		
.warning
	color: orange
	.fa 		
		margin-right: 0.3em		
.purchase-address
	span 
		display: block
.hidden-xs
	display: none 
	@media (min-width: $screen-sm-min)
		display: block				
.order-summary-block-first
	clear: both
	width: 100%
	float: none
	padding: 1em 0 0.5em
	border-bottom: 1px solid #ddd	
	margin-bottom: 0
	@media (max-width: 767px)
		margin-bottom: 1em
.order-summary-block-third
	width: 50%
	float: left
	@media (max-width: 767px)
		width: 100%
		clear: both
		float: none
.order-summary-block-second
	width: 50%
	float: left
	padding-top: 1em
	p 
		&.headline
			margin-bottom: 0.2em
			text-transform: uppercase
			font-weight: 700
	@media (max-width: 767px)
		width: 100%
		clear: both
		float: none
.order-summary-block-third	
	margin-bottom: $spacing
.delivery-address
	// font-size: 0.8em	
	margin-bottom: 0.5em	
	clear: both
	p 
		margin-bottom: 0.2em
		&.headline
			margin-bottom: 0.2em
			text-transform: uppercase
			font-weight: 700
		span 
			// font-weight: bold
			// padding-left: 0.5em
.purchase-address
	span 
		// display: inline			
.cart-comment
	margin-top: 1em
	width: 50%
	float: left
	@media (max-width: $screen-sm-min - 1)
		width: 100%
		float: none
		margin-bottom: $spacing
	label
		margin-bottom: 0.5em
		display: block
		text-transform: uppercase		
	textarea
		display: block
		max-width: 30em
		width: 100%
		@media (max-width: 767px)
			max-width: 100%
	p 
		max-width: 30em
		@media (max-width: $screen-sm-min - 1)
			max-width: 100%
		width: 100%
		border: 1px solid #D1D3D4
		padding: 0.5em
		border-radius: 6px				
