.product-header 
	+clearfix
	background-color: $light-gray
	padding: 10px
	color: $gray
	.accordion-trigger
		height: 50px
		float: left
		margin-right: $spacing
		.fa 
			+transition(all 0.3s ease-out)
			font-size: 2em
			line-height: 50px
			cursor: pointer
			&:hover 
				color: $secondary
			&.rotate 
				transform: rotate(180deg)	
	img 
		display: block
		float: left
		margin-right: $spacing
	h2 
		line-height: 44px
		font-size: 2em
		font-weight: 700
		text-transform: uppercase	
		display: block
		float: left
		line-height: 50px
.sort-block
	+clearfix
	&:last-child 
		margin-bottom: $spacing*3
.product-list
	font-size: 0.8em
	// margin-bottom: $spacing*3
	.product 
		margin-bottom: $spacing*3
	.product-content 
		margin-top: $spacing*2	
		display: none 
		@media (min-width: $screen-sm-min)
			display: block
.table-heading
	padding: $spacing 0
	border-top: 1px solid $border-gray
	border-bottom: 1px solid $border-gray	
	margin-bottom: $spacing
	font-weight: 600
.case-ordered
	text-align: right
	input 
		text-align: right
		max-width: 70px
		display: inline-block
.product-list		
	colgroup
		.description
			width: auto
		.pack
			width: 80px
		.case-weight
			width: 80px
		.price-per-lb
			width: 80px
		.case-price
			width: 80px
		.case-ordered
			width: 80px
		.total-lbs	
			width: 80px										
		.total-spent		
			width: 80px	
	thead 
		text-align: center
		font-size: 0.8em
thead 
	tr 
		td 
			padding: 0px 5px
			&:first-child 
				padding-left: 0px
tbody
	text-align: center 
	td 
		padding: 0px 5px
		&:first-child 
			padding-left: 0px
	.description 
		+clearfix
		text-align: left
		.title 
			font-weight: 700
		.media-left
			width: 100px		
		.media-right
			padding-left: 0px
		p 
			word-wrap: break-word	
			margin-bottom: 0.2em
.input-highlighted		
	border-color: #00AD8F
	background-color: #CBF6E2

// tr 
// 	@media (max-width: $screen-sm-min+1)
// 		display: block
// td
// 	@media (max-width: $screen-sm-min+1)
// 		display: block		

.grid-mobile
	tbody
		td.description
			padding: 0
			.content 
				background-color: #fff
				padding: 1em
				border: 1px solid #ddd
				margin-bottom: 1em
		td.case-ordered
			text-align: center	
		// tr:nth-child(2n) 
		// 	td 
		// 		padding-bottom: $spacing*2	
		table 
			margin-bottom: 15px	
.add-to-cart-block
	float: right 
	font-size: 0.8em
	padding: $spacing 0
	button 
		padding: 0.5em 0.7em
		display: inline-block
	@media (max-width: $screen-md-min - 1)
		float: none
	.continue-shopping
		margin-right: 0
		float: none
		display: block
		width: 12.2em
	input[type="number"]
		display: inline-block
		width: 3em 
		padding: 0.5em 	
		// margin-right: 1.6em
	label
		display: inline
		margin-right: 0.5em
		height: 34px
		vertical-align: middle
		line-height: 1
		margin-top: 7px	
.product-content-mobile
	font-size: 0.8em
	h2 
		margin-bottom: 0.5em
	b 
		font-weight: 600			
	fieldset
		margin-top: $spacing	
