doctype html
html
	head
		include ../partials/head.jade
	body
		include ../partials/variables.jade
		include ../mixins/mixins.jade
		include ../partials/header2.jade
		//- include ../partials/mainNavigation.jade
		
		block content

		include ../partials/footer2.jade	